fastapi
uvicorn[standard]
motor
pydantic[email]
pydantic-settings
python-dotenv
httpx
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-httpx==0.42b0
opentelemetry-exporter-prometheus==0.42b0
opentelemetry-instrumentation==0.42b0
pytest
pytest-asyncio
respx
pytest-mock
pytest-cov
